@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 96px;
  line-height: 88px;
}

h2 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 60px;
  line-height: 60px;
}

h3 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 35px;
  line-height: 32px;
  margin-left: 90px;
}

p {
  font-family: "Outfit", sans-serif;
  font-size: 22px;
  line-height: 32px;
}

body {
  font-family: "Outfit", sans-serif;
  color: #151515;
}

.home button {
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
}

.home a {
  margin-top: 3rem;
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.home a button:nth-child(1) {
  background-color: #151515;
  grid-column: 1/4;
  grid-row: 1;
  height: 4rem;
  font-size: 16px;
}

.home a button:nth-child(2) {
  background-color: #D5966C;
  grid-column: 4/5;
  grid-row: 1;
  height: 4rem;
}

.home h1 {
  background: linear-gradient(to right, #FFFFFF 61%, #151515 39%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home a:hover>button:nth-child(1) {
  background-color: #D5966C;
}

.home a:hover>button:nth-child(2) {
  background-color: #151515;
}

.header-container {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-bottom: 10rem;
}

#header-grid1 {
  background-color: #151515;
  grid-column: 1/6;
  grid-row: 1/5;
}

#header-grid2 {
  background: url("/assets/desktop/image-hero.jpg");
  height: 135vh;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 6/12;
  grid-row: 1/5;
}

#header-grid3 {
  background-color: #FFFFFF;
  grid-column: 12/16;
  grid-row: 1/4;
}

#header-grid4 {
  grid-column: 2/8;
  grid-row: 2/3;
  margin-left: 70px;
}

#header-grid5 {
  grid-column: 11/15;
  grid-row: 2/4;
  margin-left: 2rem;
}

.main-container {
  margin: 0rem 6rem 10rem 6rem;
}

.main-container p {
  margin-top: 2rem;
}

.main-section-top {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-bottom: 2rem;
}

#top-one {
  margin: 0rem 4rem 4rem 4rem;
}

#top-two {
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 4rem;
}

.main-section-down {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

#down-one {
  grid-column: 1/4;
  grid-row: 1/3;
  margin: 0rem 0rem 0rem 4rem;
}

#down-one img {
  width: 100%;
  height: 100%;
}

#down-two {
  grid-column: 4/6;
  grid-row: 1/2;
}

#down-two img {
  width: 100%;
  height: 100%;
}

#down-three {
  grid-column: 4/6;
  grid-row: 2/3;
  background-color: #151515;
  color: #FFFFFF;
  padding: 45px;
}

.home-footer {
  background-color: #151515;
  color: #FFFFFF;
  height: 15rem;
  padding: 5rem 5%;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  gap: 10rem;
}

span {
  font-size: 18px;
}

.footer-div svg :hover {
  fill: #D5966C;
  transition: all 0.3s ease;
}

.footer-div {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
}

@media and (max-width: 330px) {
  .home {
    width: 20%;
  }

  h1 {
    font-size: 30px;
    line-height: 30px;
  }

  h2 {
    font-size: 20px;
    line-height: 20px;
  }

  h3 {
    font-size: 15px;
    line-height: 15px;
  }

  p {
    font-size: 10px;
    line-height: 10px;
  }

}

/* @media screen and (max-width: 820px) {
  h1 {
    font-size: 70px;
    line-height: 70px;
    -webkit-text-fill-color: initial !important;
  }

  h2 {
    font-size: 60px;
    line-height: 50px;
  }

  h3 {
    font-size: 36px;
    line-height: 36px;
  }

  a {
    width: 15rem;
  }

  button {
    height: 5rem;
  }

  #header-grid1{
    display: none;
  }

  #header-grid2{
    grid-column: 1/7;
    grid-row: 1/5;
  }

  #header-grid4{
    grid-column: 6/11;
    grid-row: 2;
  }

  #header-grid5{
    grid-column: 6/11;
    grid-row: 3;
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 60px;
    line-height: 50px;
  }

  h2 {
    font-size: 36px;
    line-height: 36px;
  }

  .header-container {
    height: max-content;
  }

  #header-grid2 {
    grid-column: 1/13;
    grid-row: 1;
    height: 50vh;
  }

  #header-grid3 {
    grid-column: 1/13;
    grid-row: 2;
    padding: 0 5%;
  }

  #header-grid4 {
    grid-column: 1/13;
    grid-row: 3;
    padding: 0 5%;
  }

  .header-grid5 {
    grid-column: 1/13;
    grid-row: 4;
    padding: 0 5%;
  }

  .main-section-top {
    grid-template-columns: 1fr;
  }

  .main-section-down {
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    grid-template-areas: "grid1" "grid2" "grid3";
  }

  #down-two img {
    height: max-content;
  }

  .home-footer {
    grid-template-columns: 1fr;
  }
} */

.location button {
  border: none;
  color: #FFFFFF;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
}

.location a {
  text-decoration: none;
  position: absolute;
  margin-top: 0rem;
  margin-left: 10rem;
  height: 5rem;
  width: 15rem;
  display: grid;
  transition: all 0.5s ease;
}

.location a button:nth-child(1) {
  background-color: #D5966C;
  grid-row: 1;
}

.location a button:nth-child(2) {
  background-color: #151515;
  font-size: 13px;
  font-weight: 700;
  grid-row: 1;
}

.location a:hover>button:nth-child(1) {
  background-color: #151515;
}

.location a:hover>button:nth-child(2) {
  background-color: #D5966C;
}

/* .location h1 {
  background: linear-gradient(to right, #FFFFFF 61%, #151515 39%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.map {
  background: url("/assets/desktop/image-map.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  /* display: grid; */
  /* place-content: center; */
}

.location-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #151515;
  color: #FFFFFF;
  padding: 5rem 10rem;
}

#location-address h3 {
  color: #D5966C;
  margin-left: 0;
}

address {
  margin: 2rem 0;
}

.location-footer {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  background-color: #D5966C;
  padding: 4rem 5rem;
}

#location-icons {
  margin: 0 5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.location-footer-div svg :hover {
  fill: #FFFFFF;
  transition: all 0.3s ease;
}

@media screen and (max-width: 820px) {
  .map {
    background: url("../images/tablet/image-map.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (max-width: 500px) {
  #location-link {
    left: 0;
  }

  .location-info {
    grid-template-columns: 1fr;
  }

  .location-footer {
    grid-template-columns: 1fr;
  }

  .location-footer-div:nth-child(3) {
    justify-content: start;
    gap: 2rem;
  }
}