@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 96px;
  line-height: 88px;
}

h2 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 60px;
  line-height: 60px;
}

h3 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 35px;
  line-height: 32px;
}

p {
  font-family: "Outfit", sans-serif;
  font-size: 22px;
  line-height: 32px;
}

body {
  font-family: "Outfit", sans-serif;
  color: #151515;
}

.home button {
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
}

.home a {
  margin-top: 3rem;
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 15rem;
}

.home a button:nth-child(1) {
  background-color: #151515;
  grid-column: 1/4;
  grid-row: 1;
  height: 4rem;
  font-size: 13px;
}

.home a button:nth-child(2) {
  background-color: #D5966C;
  grid-column: 4/5;
  grid-row: 1;
  height: 4rem;
}

.home h1 {
  background: linear-gradient(to right, #FFFFFF 56%, #151515 44%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home a:hover>button:nth-child(1) {
  background-color: #D5966C;
}

.home a:hover>button:nth-child(2) {
  background-color: #151515;
}

.header-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 100%;
  grid-template-rows: repeat(4, 1fr);
  height: auto;
  padding-bottom: 10rem;
}

#header-grid1 {
  background-color: #151515;
  grid-column: 1/5;
  grid-row: 1/5;
}

#header-grid2 {
  max-width: 100%;
  height: auto;
  grid-column: 5/10;
  grid-row: 1/5;
}

#header-grid2 img {
  max-width: 100%;
  height: auto;
}

#header-grid3 {
  background-color: #FFFFFF;
  grid-column: 10/13;
  grid-row: 1/5;
}

#header-grid4 {
  grid-column: 2/7;
  grid-row: 2/3;
  padding-left: 3rem;
}

#header-grid5 {
  grid-column: 9/12;
  grid-row: 2/4;
}

.main-container {
  margin: 0rem 6rem 10rem 6rem;
}

.main-container p {
  margin-top: 2rem;
}

.main-section-top {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 100%;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: none;
  margin-bottom: 2rem;
}

#top-one {
  margin: 0rem 4rem 4rem 4rem;
  grid-column: 1/3;
  grid-row: 1/3;
}

#top-two {
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  grid-column: 3/6;
  margin-left: 4rem;
  grid-row: 1/3;
}

.top-div img {
  max-width: 100%;
  height: auto;

}

.main-section-down {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 2rem;
}

#down-one {
  grid-column: 1/4;
  grid-row: 1/3;
  padding: 0rem 0rem 0rem 4rem;
}

#down-one img {
  max-width: 100%;
  height: auto;
}

#down-two {
  grid-column: 4/6;
  grid-row: 1/2;
}

#down-two img {
  max-width: 100%;
  height: auto;
}

#down-three {
  grid-column: 4/6;
  grid-row: 2/3;
  background-color: #151515;
  color: #FFFFFF;
  justify-items: center;
  padding: 2rem 4rem 0rem 4rem;
}

.home-footer {
  background-color: #151515;
  color: #FFFFFF;
  height: 15rem;
  padding: 5rem 6rem;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  gap: 11rem;
}

span {
  font-size: 18px;
}

.footer-div svg :hover {
  fill: #D5966C;
  transition: all 0.3s ease;
}

.footer-div {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
}


/* @media screen and (max-width: 425px) {
  h1 {
    font-size: 60px;
    line-height: 50px;
  }

  h2 {
    font-size: 36px;
    line-height: 36px;
  }

  .header-container {
    height: max-content;
  }

  #header-grid2 {
    grid-column: 1/13;
    grid-row: 1;
    height: 50vh;
  }

   #header-grid3 {
    grid-column: 1/13;
    grid-row: 2;
    padding: 0 5%;
  }

  #header-grid4 {
    grid-column: 1/13;
    grid-row: 3;
    padding: 0 5%;
  }

  .header-grid5 {
    grid-column: 1/13;
    grid-row: 4;
    padding: 0 5%;
  }

  .main-section-top {
    grid-template-columns: 1fr;
  }

  .main-section-down {
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    grid-template-areas: "grid1" "grid2" "grid3";
  }

  #down-two img {
    height: max-content;
  }

  .home-footer {
    grid-template-columns: 1fr;
  }
} */


@media screen and (max-width: 768px) {
  .home h1 {
    background-color: transparent;
    -webkit-text-fill-color: #151515;
    font-size: 70px;
    line-height: 70px;
    padding-left: 0rem;
  }

  h2 {
    font-size: 60px;
    line-height: 50px;
  }

  h3 {
    font-size: 36px;
    line-height: 36px;
  }

  #header-grid1 {
    display: none;
  }

  #header-grid2 {
    grid-column: 1/8;
    grid-row: 1/5;
  }

  #header-grid3 {
    grid-column: 8/13;
    grid-row: 1/5;
  }

  #header-grid4 {
    grid-column: 7/13;
    grid-row: 2/3;
    padding-left: 0%;
  }

  #header-grid5 {
    grid-column: 7/13;
    grid-row: 3;
    margin: 0;
  }
}












* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.location button {
  border: none;
  color: #FFFFFF;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
}

.location a {
  text-decoration: none;
  position: absolute;
  margin-top: 0rem;
  margin-left: 10rem;
  height: 5rem;
  width: 15rem;
  display: grid;
  transition: all 0.5s ease;
}

.location a button:nth-child(1) {
  background-color: #D5966C;
  grid-row: 1;
}

.location a button:nth-child(2) {
  background-color: #151515;
  font-size: 13px;
  font-weight: 700;
  grid-row: 1;
}

.location a:hover>button:nth-child(1) {
  background-color: #151515;
}

.location a:hover>button:nth-child(2) {
  background-color: #D5966C;
}

.map img {
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
  display: grid;
}

.location-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #151515;
  color: #FFFFFF;
  padding: 5rem 10rem;
}

#location-address h3 {
  color: #D5966C;
}

address {
  margin: 2rem 0;
}

.location-footer {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  background-color: #D5966C;
  padding: 4rem 10rem;
  gap: 4rem;
}

#location-icons {
  display: flex;
  justify-content: space-around;
}

.location-footer-div svg :hover {
  fill: #FFFFFF;
  transition: all 0.3s ease;
}

@media screen and (max-width: 425px) {
  .location a {
    margin-left: 0rem;
    height: 3rem;
  }

  h1 {
    font-size: 60px;
    line-height: 60px;
  }

  h2 {
    font-size: 50px;
    line-height: 50px;
    margin-left: 0rem;
  }

  h3 {
    font-size: 30px;
    line-height: 30px;
  }

  p {
    font-size: 20px;
    line-height: 20px;
  }

  .location-info {
    display: block;
  }


  .location-footer {
    display: block;
  }

  .location-footer-div {
    padding-left: 1rem;
    padding-bottom: 2rem;
  }

  .icon {
    margin-right: auto;
    gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .location a {
    margin-left: 4rem;
    height: 4rem;
  }

  h1 {
    font-size: 60px;
    line-height: 60px;
  }

  h2 {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 30px;
    line-height: 30px;
  }

  p {
    font-size: 20px;
    line-height: 25px;
  }

  .location-info {
    grid-template-columns: 1fr 2fr;
    padding: 5rem 4rem;
    gap: 4rem;
  }

  .location-footer {
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
    padding: 4rem 3rem;
  }

  #location-icons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}