@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@300&display=swap");

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 96px;
  line-height: 88px;
}

h2 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 60px;
  line-height: 60px;
}

h3 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 35px;
  line-height: 32px;
}

p {
  font-family: "Outfit", sans-serif;
  font-size: 22px;
  line-height: 32px;
}

body {
  font-family: "Outfit", sans-serif;
  color: #151515;
}

.home button {
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
}

.home a {
  margin-top: 3rem;
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 18rem;
  height: 5rem;
}

.home a button:nth-child(1) {
  background-color: #151515;
  grid-column: 1/5;
  grid-row: 1;
  font-size: 16px;
}

.home a button:nth-child(2) {
  background-color: #D5966C;
  grid-column: 5/7;
  grid-row: 1;
}

.home h1 {
  background: linear-gradient(to right, #FFFFFF 56%, #151515 44%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home a:hover>button:nth-child(1) {
  background-color: #D5966C;
}

.home a:hover>button:nth-child(2) {
  background-color: #151515;
}

.header-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  max-height: 100rem;
}

#header-grid1 {
  background-color: #151515;
  grid-column: 1/5;
  grid-row: 1/5;
  height: 50rem;
}

#header-grid2 {
  grid-column: 5/10;
  grid-row: 1/5;
  max-height: 50rem;
}

#header-grid2 img {
  max-width: 100%;
  height: auto;
}

#header-grid3 {
  background-color: #FFFFFF;
  grid-column: 10/13;
  grid-row: 1/5;
}

#header-grid4 {
  grid-column: 2/7;
  grid-row: 2/3;
  padding-left: 3rem;
}

#header-grid5 {
  grid-column: 9/12;
  grid-row: 2/4;
}

.main-container {
  margin: 10rem 6rem 10rem 6rem;
}

.main-container p {
  margin-top: 2rem;
}

.main-section-top {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10rem;
  max-width: 100%;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: none;
  margin-bottom: 3rem;
}

#top-one {
  margin: 0rem 0rem 0rem 4rem;
  grid-column: 1/3;
  grid-row: 1/3;
  max-height: 100rem;
}

#top-two {
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 25rem;
  grid-column: 3/6;
  grid-row: 1/3;
}

.top-div img {
  max-width: 100%;
  height: auto;

}

.main-section-down {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 0rem;
  max-width: 100%;
  height: auto;
}

#down-one {
  grid-column: 1/4;
  grid-row: 1/3;
  margin: 0rem 0rem 0rem 4rem;
}

#down-one img {
  max-width: 100%;
  height: auto;
}

#down-two {
  grid-column: 4/6;
  grid-row: 1/2;
}

#down-two img {
  max-width: 100%;
  height: auto;
}

#down-three {
  grid-column: 4/6;
  grid-row: 2/3;
  background-color: #151515;
  color: #FFFFFF;
  padding: 2rem 4rem;
  height: 21.4rem;
}

.home-footer {
  background-color: #151515;
  color: #FFFFFF;
  max-height: 50rem;
  padding: 5rem 7rem;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  gap: 11rem;
}

span {
  font-size: 18px;
}

.footer-div svg :hover {
  fill: #D5966C;
  transition: all 0.3s ease;
}

.footer-div {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
}






@media screen and (max-width: 768px) {
  .home {
    max-width: 100%;
    height: auto;
  }

  .home h1 {
    background-color: transparent;
    -webkit-text-fill-color: #151515;
    font-size: 70px;
    line-height: 70px;
  }

  h2 {
    font-size: 50px;
    line-height: 50px;
  }

  h3 {
    font-size: 30px;
    line-height: 30px;
  }

  .header-container {
    grid-template-rows: repeat(3, 1fr);
    height: 50rem;
  }

  #header-grid1 {
    display: none;
  }

  #header-grid2 {
    grid-column: 1/8;
    grid-row: 1/3;
    height: 30rem;
  }

  #header-grid3 {
    display: none;
  }

  #header-grid4 {
    grid-column: 7/13;
    grid-row: 1/2;
    padding-left: 0rem;
    margin-top: 6rem;
  }

  #header-grid5 {
    grid-column: 7/12;
    grid-row: 2/3;
    margin-top: 1rem;
  }

  .main-container {
    margin: 0rem 2rem;
  }

  .main-section-top {
    margin-bottom: 0.6rem;
    column-gap: 5rem;
  }

  #top-one {
    margin: 0rem;
  }

  .top-div img {
    height: 25rem;
  }

  .main-section-down {
    column-gap: 1rem;
    row-gap: 0.6rem;
  }

  #down-one {
    margin: 0rem;
  }

  #down-one img {
    height: 40rem;
    padding: 0rem;
  }

  #down-two img {
    height: 21rem;
    padding: 0rem;
  }

  #down-three {
    padding: 0rem;
    height: 18rem;
  }

  #down-three h2 {
    margin-bottom: 0rem;
    padding: 1rem;
  }

  #down-three p {
    padding: 0rem 1rem;
    margin-top: 0rem;
  }

  .home-footer {
    min-height: 12rem;
    padding: 3rem 0rem;
    gap: 1rem;
  }

  span {
    font-size: 18px;
  }

  .footer-div {
    display: flex;
    justify-content: space-around;
    gap: 0rem;
    margin-right: 2rem;
  }

}





@media screen and (max-width: 425px) {

  body {
    background-color: #FFFFFF;
  }

  .header-container {
    grid: none;
    display: block;
    height: 44.09rem;
  }

  .home h1 {
    font-size: 50px;
    line-height: 50px;
  }

  #header-grid2 {
    display: block;
    height: 20rem ;
  }

#header-grid2 img {
  height: 30rem;
}


  #header-grid4 {
    padding-left: 0rem;
    margin: 1rem 1rem;
  }

  #header-grid5 {
    background-color: #FFFFFF;
    margin: 1rem 1rem;
  }

  .main-container {
    margin: 7rem 1rem 0rem 1rem;
    grid: none;
    display: block;
    padding: 0rem;
  }

  .main-section-top {
    grid: none;
    display: block;
    margin-bottom: 1rem;
  }

  #top-one {
    height: 15rem;
    margin-top: 1rem 0rem;
  }

  #top-two {
    height: 15rem;
    margin-top: 1rem 0rem;
  }

  .top-div img {
    height: 15rem;

  }

  .main-section-down {
    grid: none;
    display: block;
    margin-bottom: 7rem;
  }

  #down-one {
    height: 25rem;
    margin-bottom: 1rem;
  }

  #down-one img {
    height: 25rem;
  }

  #down-two {
    height: 15rem;
    margin-bottom: 1rem;
  }

  #down-two img {
    height: 15rem;
  }

  #down-three {
    height: 20rem;
    padding: 3rem 1rem;
  }

  .home-footer {
    grid: none;
    display: block;
    height: 23rem;
    padding: 3rem 2rem;
  }

  #footer-one {
    margin-bottom: 3rem;
  }

  #footer-two {
    margin-bottom: 3rem;
  }

  .footer-div {
    display: block;
    margin-right: 0rem;
    padding: 0rem;
  }

  .footer-div h3 {
    display: block;
    padding-top: 0rem;
    padding-left: 0rem;
  }

  #icons {
    display: flex;
    justify-content: space-between;
    margin-right: 13rem;
  }
}













* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.location button {
  border: none;
  color: #FFFFFF;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
}

.location a {
  text-decoration: none;
  position: absolute;
  margin-top: 0rem;
  margin-left: 10rem;
  height: 5rem;
  width: 15rem;
  display: grid;
  transition: all 0.5s ease;
}

.location a button:nth-child(1) {
  background-color: #D5966C;
  grid-row: 1;
}

.location a button:nth-child(2) {
  background-color: #151515;
  font-size: 13px;
  font-weight: 700;
  grid-row: 1;
}

.location a:hover>button:nth-child(1) {
  background-color: #151515;
}

.location a:hover>button:nth-child(2) {
  background-color: #D5966C;
}

.map img {
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
  display: grid;
}

.location-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #151515;
  color: #FFFFFF;
  padding: 5rem 10rem;
}

#location-address h3 {
  color: #D5966C;
}

address {
  margin: 2rem 0;
}

.location-footer {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  background-color: #D5966C;
  padding: 4rem 10rem;
  gap: 4rem;
}

#location-icons {
  display: flex;
  justify-content: space-around;
}

.location-footer-div svg :hover {
  fill: #FFFFFF;
  transition: all 0.3s ease;
}


@media screen and (max-width: 425px) {
  .location a {
    margin-left: 0rem;
    height: 3rem;
  }

  h1 {
    font-size: 60px;
    line-height: 60px;
  }

  h2 {
    font-size: 50px;
    line-height: 50px;
    margin-left: 0rem;
  }

  h3 {
    font-size: 30px;
    line-height: 30px;
  }

  p {
    font-size: 20px;
    line-height: 20px;
  }

  .location-info {
    display: block;
  }


  .location-footer {
    display: block;
  }

  .location-footer-div {
    padding-left: 1rem;
    padding-bottom: 2rem;
  }

  .icon {
    margin-right: auto;
    gap: 2rem;
  }
}


@media screen and (max-width: 768px) {
  .location a {
    margin-left: 4rem;
    height: 4rem;
  }

  h1 {
    font-size: 60px;
    line-height: 60px;
  }

  h2 {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 30px;
    line-height: 30px;
  }

  p {
    font-size: 20px;
    line-height: 25px;
  }

  .location-info {
    grid-template-columns: 1fr 2fr;
    padding: 5rem 4rem;
    gap: 4rem;
  }

  .location-footer {
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
    padding: 4rem 3rem;
  }

  #location-icons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}